	body {
		margin: 0 auto;
		background-color: Lightgrey;
		
	}
	nav {
		background-color: skyblue;
		width: 100%;
		text-align: center;
		display: inline-center;
		height: 200px;
	}
	
	.icon-bar {
		float: right;
		position: absolute;
		top: 30px;
		right: 0;
	}

	.icon-bar a:hover {
	background-color: white;
	}

	.facebook {
	color: black;
	padding: 0 5px 0 5px;
	margin: 0 5px 0 5px;
	float: right;
	}

	.twitter {
	color: black;
	padding: 0 5px 0 5px;
	margin: 0 5px 0 5px;
	float: right;
	}

	.google {
	color: black;
	padding: 0 5px 0 5px;
	margin: 0 5px 0 5px;
	float: right;
	}

	.youtube {
	color: black;
	padding: 0 5px 0 5px;
	margin: 0 5px 0 5px;
	float: right;
	}

	table.blueTable {
  font-family: Verdana, Geneva, sans-serif;
  border: 0px solid #75ABFF;
  background-color: #8ACFEE;
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #000000;
  padding: 10px 3px;
}
table.blueTable tbody td {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #8ACFEE;
  background: -moz-linear-gradient(top, #a7dbf2 0%, #95d3ef 66%, #8ACFEE 100%);
  background: -webkit-linear-gradient(top, #a7dbf2 0%, #95d3ef 66%, #8ACFEE 100%);
  background: linear-gradient(to bottom, #a7dbf2 0%, #95d3ef 66%, #8ACFEE 100%);
  border-bottom: 2px solid #000000;
}
table.blueTable thead th {
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  border-left: 2px solid #000000;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #4FB1FF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 0px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
	
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}