body {
    margin: 0;
}
myProgress {
  width: 100%;
  background-color: #ddd;
}

myBar {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 6.5cm;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 15%;
    text-decoration: none;
	font-size:30px;
}

li a.active {
    background-color: blue;
    color: red;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.yellow-box {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;	
	background: black;
    color: white;
    font-weight: 300;
	margin: 0 2px 20px;
	padding: 30px;
}


table.chart {
  width: 330px;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #004080;
  border-style: solid;
  color: #000000;
  padding-bottom: 4cm;
}

table.chart a {
text-decoration: underline;
}

table.chart td, table.chart th {
  border-width: 2px;
  border-color: #999999;
  border-style: solid;
  padding: 3px;
}

table.chart thead {
  background-color: #c0c0c0;
}


p.padding {
    padding-bottom:2cm;
	font-size: 20px;
}
p.padding3 {
    padding-bottom:5px;
	font-size: 20px;
}
p.padding4 {
    padding-bottom:5px;
	font-size: 20px;

	
}

p.padding5 {
    padding-bottom: 5px;
	font-size: 20px;

}

p.padding6 {
	padding-bottom: 5px;

}

h2.padding2 {
	background: black;
    color: white;
    font-weight: 300;
	margin: 0 8px 40px;
	padding: 37px;

}

p.padding7 {
    padding-bottom:4cm;
	font-size: 30px;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}


.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}


.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}


.container {
  padding: 16px;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

p.p5 {
	font-size: 20px;
}




A.class1 {color:red;}
A.class1:link  {text-decoration: none; color: blue;}
A.class1:visited {text-decoration: none; color: purple;}
A.class1:hover {text-decoration: underline; color: black; font-size:150%;}
A.class1:active {text-decoration: none; color: red;}