body {
     background-color: 275D6A;

a:link {
color: #A53946
font-family: "Harlow Solid Italic";
text-decoration: none;
}
a:visited {
color: #A53946
font-family: "Harlow Solid Italic";
   text-decoration: none;
	
	
}

