	#color1 {
		background-color: #a35747;
	}
	
	#color2 {
		background-color: red;
	}
	
	#color3 {
		background-color: #40e424;
	}
	
	#color4 {
		background-color: violet;
	}
	
	#font1 {
		font-family: 'Century';
		font-size: 50px;
	}
	
	#font2 {
		font-family: 'Allerta';
		font-size: 35px;
	}
	
	#font3 {
		font-family: 'Andika';
		font-size: 22px;
	}