	 
body{				 
	   margin: 0 auto;		 
	   text-align: center;		 
	   padding: 100px;		 
	   background-color: black;
	   }

#rightvideo{
       position: absolute;
	   right: 0;
	   float: right;
       }
	   
#leftvideo{
       position: absolute;
	   left: 0;
	   float: left;
       }

img{		
	   border: 2px solid #ddd;   			
	   border-radius: 400px;   			
	   padding: 0px;   			
	   width: 400px;			
	   }

img:hover{ 	   			      
	   box-shadow: 0 0 7px 5px rgba(109, 109, 109, 1);	
	   }
			
			