
body {
	 margin: 0 auto;
	 text-align: center;
	 background-color: black;
	 }

#navimg {
		border: 2px solid #ddd;
    	border-radius: 400px;
    	padding: 0px;
		display: inline-block;
		vertical-align: middle; 
		height:125px; 
		width:125px; 
		margin:30px;
		}

#navimg:hover {
    		  box-shadow: 0 0 7px 5px rgba(109, 109, 109, 1);
		      }
			
nav {
	width: 100%;
	top: 0;
	position: fixed;
	height: 410px;
	margin: 10px;
	}
			
section{
	   margin-top: 300px;
	   margin-left: 100px;
	   width: 50%;
	   font-family: 'Lucida console';
	   font-size: 20px;
       color: white;
	   }
			
			
		
